.welcome2  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: blueviolet;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.self-introduction-list, .hobby-skill-list, .likes-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: royalblue;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.self-introduction .name, .self-introduction .birthplce, .self-introduction .age, .hobby-skill .hobby, .hobby-skill .skill, .likes .like-item {
    display: flex;
    margin: 15px 0;
    border-bottom: solid 1px;
}

.self-introduction h2, .hobby-skill h2, .like-item h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
    font-weight: bold;
}

.self-introduction p, .hobby-skill p, .like-item p {
    padding-left: 40px;
    font-size: 18px;
    margin: 0;
}

.thin-line {
    border: none;
    border-top: 1px solid royalblue;
    margin-top: 70px;
}

.blnk {
    margin-bottom: 70px;
}