/* welcome4の要素 */
.welcome4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: green;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0.5rem;
}

/* .world-heritageの要素 */
.world-heritage {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}

.world-heritage h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.world-heritage p {
    text-align: center;
    padding-top: 1rem;
}

/* .thin-lineの要素 */
.thin-line {
    border: none;
    border-top: 1px solid royalblue;
    margin-top: 70px;
}

.world-heritage-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: royalblue;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}