/* Splide カスタムスタイル */
.splide {
    position: relative;
    margin-top: 0.5rem;
    width: 100%;
}

.splide__slide {
    opacity: 0.6;
    transition: opacity 0.3s;
}

.splide__slide.is-active {
    opacity: 1;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.splide__pagination {
    position: absolute;
    top:  100%; /* スライダーの上に配置 */
    bottom: initial;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    display: flex;
    gap: 10px;
    z-index: 1;
}

.splide__pagination__page {
    bottom: 3px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transform: background-color 0.3s;
}

/* アクティブなページネーションボタンのスタイル */
.splide__pagination__page.is-active {
    background-color: blue; /* アクティブ時の背景色を青に変更 */
}

/* 小さな画面用のスタイル */
@media (max-width: 767px) {
    .splide__pagination {
        /* top: 100%; */
        gap: 5px; /* ボタン間のギャップを調整 */
    }
}


    
