
/* .welcome要素の調整 */
.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: royalblue;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0.5rem;
}

/* self-introduction-listなど要素の調整 */
.self-introduction-list, .hobby-list, .contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: royalblue;
    font-size: 30px;
    margin-top: 70px;
}

/*self-introduction-page, .portfolio-pageなど要素の調節 */
.self-introduction-page, .portfolio-page,  .soccer-page, .game-page, .world-page, .contact-page {
    color: royalblue;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.self-introduction-page-article, .portfolio-page-article, .soccer-page-article, .game-page-article, .world-page-article,
.contact-page-article {
    color: #000;
    font-size: 16px;
}

.self-introduction-page img, .portfolio-page img, .soccer-page img, .game-page img, .world-page img, .contact-page img {
    margin-top: 50px;
    border-radius: 5px;
}

.self-introduction-page h2::before, .portfolio-page h2::before, .soccer-page h2::before, .game-page h2::before, .world-page h2::before,
.contact-page h2::before {
    content: '';
    display: inline-block; /* 要素をインラインブロックにする */
    width: 18px; /* 画像の幅 */
    height: 18px; /* 画像の高さ */
    background-image: url('img/index/arrow-303271_1280.png'); /* 画像のパス */
    background-size: cover; /* 画像を要素に合わせてサイズ調整 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    margin-right: 5px; /* 画像とテキストの間の余白 */
    margin-top: 0.5rem;
}

.self-introduction-page:hover, .portfolio-page:hover, .soccer-page:hover, .game-page:hover, .world-page:hover, .contact-page:hover { 
    color: aqua; /* ホバー時のテキスト色を変更 */
    cursor: pointer;
}


/* 青い線 */
.thin-line {
    border: none;
    border-top: 1px solid royalblue;
    margin-top: 70px;
}

/* 青い線2 */
hr.thin-line2 {
    width: 100vw; /* ビューポート幅の100% */
    margin: 70px auto 0; /* 上部マージン70px、左右中央寄せ */
    position: relative; /* 位置を相対的に指定 */
    left: calc(-50vw + 50%); /* ビューポート幅全体をカバーし中央に配置 */
    border-top: 1px solid royalblue; /* 上部に1pxの青い線 */
}

