/* Swiperコンテナのスタイル */
.swiper-container {
    position: relative; /* 相対位置に設定 */
    width: 100%; /* コンテナの幅を100%に設定 */
    height: 60%; /* コンテナの高さを60%に設定 */
    margin-top: 0.5rem; /* 上部の余白を0.5remに設定 */
    margin-bottom: 0.5rem; /* 下部の余白を0.5remに設定 */
}

/* 画像のスタイル */
.swiper-container img {
    width: 100%; /* 画像の幅を100%に設定 */
    height: 535px; /* 画像の高さを535pxに設定 */
    object-fit: cover; /* 画像をコンテナに合わせてカバー */

}

.img1  {
    background-image: url('https://s3-ap-northeast-1.amazonaws.com/thegate/2020/12/17/18/32/56/kinkakuji_temple_snow.jpg');
    background-size: cover; /* 画像をコンテナに合わせてカバー */
    background-position: center; /* 画像の表示位置を中央に設定 */
    width: 100%;
    height: 535px; /* 他の画像と同じ高さに設定 */
    background-position: 30% 30%;
}

.img2 {
    background-image: url('https://news.j-wave.co.jp/assets_c/2020/01/200121_2-thumb-2000x1333-101964.jpg');
    background-size: cover; /* 画像をコンテナに合わせてカバー */
    background-position: center; /* 画像の表示位置を中央に設定 */
    width: 100%;
    height: 535px; /* 他の画像と同じ高さに設定 */
    background-position: 55% 55%;
}

.img3 {
    background-image: url('https://photos.wikimapia.org/p/00/03/67/44/20_full.jpg');
    background-size: cover; /* 画像をコンテナに合わせてカバー */
    background-position: center; /* 画像の表示位置を中央に設定 */
    width: 100%;
    height: 535px; /* 他の画像と同じ高さに設定 */
    background-position: 20% 20%;
}

/* ページネーションのスタイル */
.swiper-pagination {
    position: absolute; /* 絶対位置に設定 */
    transform: translateY(-10px) translateX(-20px); /* ページネーションを上に10px、左に20px移動 */
    display: flex; /* フレックスボックスを使用 */
    justify-content: flex-end; /* コンテンツを右揃え */
    z-index: 2; /* Z軸の重なり順を設定 */
}

/* ナビゲーションボタンのスタイル */
.swiper-button-next,
.swiper-button-prev {
    color: blueviolet; /* ボタンの色をブルーバイオレットに設定 */
}

/* ページネーションのバレットのスタイル */
.swiper-pagination-bullet {
    width: 13px; /* バレットの幅を13pxに設定 */
    height: 13px; /* バレットの高さを13pxに設定 */
    background-color: blueviolet; /* バレットの背景色をブルーバイオレットに設定 */
}

/* ページネーションの背景直線のスタイル */
.swiper-pagination::before {
    content: ''; /* 擬似要素の内容を空に設定 */
    position: absolute; /* 絶対位置に設定 */
    width: 63px; /* 背景直線の幅を63pxに設定 */
    height: 16px; /* 背景直線の高さを16pxに設定 */
    background-color: #ddd; /* 背景直線の色を#dddに設定 */
    z-index: -1; /* Z軸の重なり順をバレットの後ろに設定 */
    border-radius: 30px; /* 背景直線の角を丸める */
    transform: translateY(-1.5px); /* 背景直線を上に1.5px移動 */
}
